body
{
	display: flex;
	flex-wrap: wrap;
}

body, html
{
	line-height: 1.8;
	padding: 0;
	margin: 0;
}


.entete
{
	flex-basis: 100%;
}

.indicateur
{
	flex-basis: 100%;
	text-align: center;
}

.ancien
{
	flex-basis: 48%;
	text-align: left;
	height: 500px;
	overflow:scroll;
	border: 2px black solid;
	margin: 0 5px 0 10px;
}

.nouveau
{
	flex-basis: 48%;
	text-align: left;
	height: 500px;
	overflow:scroll;
	border: 2px black solid;
	margin: 0 8px 0 5px;

}

.footer
{
	text-align: center;
}

.nous
{
	font-weight: bold;
	background-color: red;
}

.je
{
	font-weight: bold;
	background-color: lightgreen;
}

a.retour {
padding: 10px 30px; 
background: white; 
color: black; 
}
a.retour:hover {
background: grey; 
}