@font-face {
	font-family: "Brandon";
	src: url("Police/BrandonText-Light.otf") format("truetype");
}

@font-face {
	font-family: "Brandon Bold";
	src: url("Police/BrandonText-Medium.otf") format("truetype");
}

@font-face {
	font-family: "Brandon Italic";
	src: url("Police/BrandonText-LightItalic.otf") format("truetype");
}

body, html
{
	font-family: 'Brandon';
	text-align: center; 
	display: flex;
	flex-wrap: wrap;
	line-height: 1.8;
	padding: 0;
	margin: 0;
	background-image: url("background-entete.png"); 
	background-position: bottom left, bottom right, top left, top center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
}

h1{
	font-family: 'Brandon Bold', sans-serif;
	font-size: 4em;
	color: #04117B;
}

.soustitre
{
	text-align: center;
	color : #04117B;
}

.header
{
	flex-basis: 100%;
}

.nous
{
	font-weight: bold;
	background-color: red;
}

.je
{
	font-weight: bold;
	background-color: lightgreen;
}

.graph
{
	flex-basis: 24%;
	border: 1px black dotted;
	height: 550px;
	margin-left: 20px;
	padding: 15px;
	background-color: rgba(255,255,255,.5);
}

img.graphjenous
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.analyse
{
	flex-basis: 41%;
	text-align: justify;
	height: 550px;
	overflow:scroll;
	border: 1px black dotted;
	margin: 0 5px 0 5px;
	padding: 15px;
	background-color: rgba(255,255,255,.5);
}

img.organigramme
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.indicateurs
{
	flex-basis: 24%;
	text-align: center;
	padding: 15px;
	border: 1px black dotted;
	height: 550px;
	margin-right: 20px;
	background-color: rgba(255,255,255,.5);
}

.choix
{
	margin-top: 25%;
	margin-bottom: 25%;
}

a.boutoncomparaison {
padding: 10px 30px; 
background: white; 
color: black; 
}

a.boutoncomparaison:hover {
background: grey; 
}

a{
	display: block;
	margin: auto; 
}
	
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background: rgba(255,255,255,.7);
  border: solid 1px;
  border-radius: 0;
  border-color: rgba(0,0,0,.4);
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  font-weight: lighter;
  letter-spacing: 2px;
  min-width: 18em;
  padding: 0 0.75em;
  line-height: 3.75em;
  text-align: center;
  text-transform: uppercase;

}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background: rgba(188, 202, 206, 0.59);
  border-color: inherit;
}

.inner-div {
	margin: 0 auto;
}

/* @media screen and (max-width: 750px)
{
	.content
	{
		flex-basis: 100%;
	}
	.sidebar
	{
		flex-basis: 100%;
		order: 1;
	}
	.footer
	{
		order: 2;
		
	}
}
 */

