@font-face {
  font-family: "Brandon";
  src: url("Police/BrandonText-Light.otf") format("truetype");
}

@font-face {
  font-family: "Brandon Bold";
  src: url("Police/BrandonText-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Brandon Italic";
  src: url("Police/BrandonText-LightItalic.otf") format("truetype");
}

html, body {
  font-family: 'Brandon', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  background-attachment: fixed;
  /*background-color: white;*/
  background-image: url("background-entete.png"); 
  background-color: rgba(255, 255, 255, 0.5);
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
}

body, input, textarea {
  color: #000503;
  font-weight: 300;
}

h1{
	font-family: 'Brandon Bold', sans-serif;
  font-size: 4em;
  color: #04117B;
}

h2{
	font-family: 'Brandon Bold', sans-serif;
  font-size: 30px;
  color: #04117B;
}

p{
	font-size: large;
}

strong{
  font-family: 'Brandon Bold', sans-serif;
  color: #04117B;
}

i{
  font-family: 'Brandon Italic', sans-serif;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #0923FB;
  text-decoration: none;
  border-bottom: dotted 1px;
}
  a:hover {
    border-bottom-color: transparent;
  }

  span{
    position:absolute;   
    margin-top:23px;
    margin-left:-35px;  
    color:#0923FB;
    background:rgba(0,0,0,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);  
    transition:all .25s;       
}

/* Couleur du bouton onclick */
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background: none;
  border: solid 1px;
  border-radius: 0;
  border-color: rgba(0,0,0,.4);
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: lighter;
  letter-spacing: 2px;
  min-width: 18em;
  padding: 0 0.75em;
  line-height: 3.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background: rgba(188, 202, 206, 0.15);
  border-color: inherit;
}

/* Section Titre */
#banner {
  cursor: default;
  padding: 3em 0;
  text-align: center;
}

#banner .inner {
  margin-left: 15px;
  margin-right: 15px;
}

#banner .inner p{
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-size: large;
}

/* Section Text : Test de l'outil */
#main .inner {
  background-color: rgba(247, 247, 247, 0.85);
}

#main .inner fieldset{
  margin-left: 50px;
  margin-right: 50px;
  border: 2px dotted;
}

#main .inner p{
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-size: large;
}

/* Section Test de l'outil */
#outil .inner {
  color: #000503;
  background-color: rgba(255, 255, 255, 0.4);
}

#outil .inner fieldset{
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.3);
}

#outil .inner a{
  color:#000503;
  text-decoration: none;
  transition: none;
  text-decoration: none;
  border-bottom: none;
}
  a:hover{
    border-bottom-color: none;
  }

/* Section Information */
#foot {
  background-color: rgba(255, 255, 255, 0.2);
}
