.graph
{
	border: 1px black solid;
	height: 500px;
}


img.graphjenous
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.analyse
{
	text-align: left;
	height: 800px;
	overflow:scroll;
	border: 1px black solid;
}

img.organigramme
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.indicateurs
{
	text-align: center;
	border: 2px black solid;
	height: 500px;
}

.choix
{
	margin-top: 25%;
	margin-bottom: 25%;
}

mark.je
{
	background-color:#2BF10A;
}

mark.nous
{
	background-color:#FF1F1F;
}



