/* Les polices peuvent être directement utilisées grâce à l'importation dansle fichier .HTML */

/* ----------------------------------------------------------------------------------------------------*/
/* --------------------------------------Apparence générale -------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/

/* Changement de la police, centrage du texte et image de fond pour toute la page */
html, body {
  font-family: 'Poiret One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  background-attachment: fixed;
  background-image: url("background-entete1.jpg");
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
}

/* Couleur et police et style de la police pour la page, les textes sur les input (bouton Lancer, checkboxs etc..) et les textes*/
body, input, textarea {
  font-family: 'Poiret One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #7c8081;
  font-weight: 300;
}

/* Police et taille du titre de type h1*/
h1{
	font-family: 'Cinzel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 48px;
}

/* Police et taille du titre de type h2*/
h2{
	font-family: 'Cinzel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
}

/* Taille de la police pour tous les paragraphes */
p{
	font-size: large;
}

/* Police pour les mots importants */
strong{
  font-family: 'Sulphur Point','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Taille de la police pour les mots en italique */
i{
  font-size: smaller;
}

/* Animation sur les liens, couleurs du texte du lien et bordure du dessous "dotted" (= texte souligné avec des pointillés) */
a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: #3fb1a3;
  text-decoration: none;
  border-bottom: dotted 1px;
}
  /* "a:hover" correspond au lien quand on passe la souris dessus : on rend transparent le soulignage pointillé */
  a:hover {
    border-bottom-color: transparent;
  }

/* Apparence des boutons : animation (bouton qui devient blanc au suvol de la souris), bordure blanche autour du bouton, curseur qui devient une main au survol et apparence du texte du bouton */
/* Les 3 input correspondent au 3 différents type de botuon qu'on a : les boutons normaux, les boutons qui valide un formulaire comme le bouton Lancer et les boutons reset*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background: none;
  border: solid 1px;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 2px;
  min-width: 18em;
  padding: 0 0.75em;
  line-height: 3.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Apparence des boutons au survol de la souris : deviennent blancs */
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background: rgba(188, 202, 206, 0.15);
  border-color: inherit;
}
/* ----------------------------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------Section 1 "banner"------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/

/* Section "banner" (entête de la page avec le logo Les 2 Rives) : couleur de police, curseur = pointeur */
#banner {
  color: #fff;
  cursor: default;
  padding: 3em 0;
  text-align: center;
}

/* Ajout des marges de 15px sur le coté gauche et droit de la section */
#banner .inner {
  margin-left: 15px;
  margin-right: 15px;
}

/* Ajout des marges de 20px supplémentaires pour le texte "Cet outil permet..." */
#banner .inner p{
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-size: large;
}
/* ----------------------------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------Section 2 "main"--------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/

/* Section main (Test de l'outil) : on met un fond blanc un peu transparent par dessus le fond de la page qu'on avait définit pour .html, body */
#main .inner {
  background-color: rgba(247, 247, 247, 0.85);
}

/* Apparence du cadre du fieldset : marge sur chaque coté et bordure en pointillé */
#main .inner fieldset{
  margin-left: 50px;
  margin-right: 50px;
  border: 2px dotted;
}

/* Apparence des paragraphes de cette section : marges, alignement justifié du texte et taille de la police */
#main .inner p{
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-size: large;
}
/* ----------------------------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------------------------------------*/
/* -------------------------------------------Section 3 "outil"----------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/

/* Section outil (Pourcourir dossier et indicateurs) : couleur du texte de cette section = blanc  */
#outil .inner {
  color: #fff;
}

/* Apparence du cadre des 2 fieldsets de cette section : bordure blanche */
#outil .inner fieldset{
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid;
}

/* Modifie les liens de cette section : couleur police = blanc et on suprrime le souligné pointillé (sinon le bouton Lancer considéré comme un lien est bleu et souligné) */
#outil .inner a{
  color:#fff;
  text-decoration: none;
  transition: none;
  text-decoration: none;
  border-bottom: none;
}

  a:hover{
    border-bottom-color: none;
  }
/* ----------------------------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------------------------------------*/
/* -----------------------------------------Section 4 "foot"-------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------*/

/* Section foot (nformations) : on met un fond noir transparent par dessus le fond de base */
#foot .inner {
  background-color: rgba(0, 0, 0, 0.2);
}
