@font-face {
	font-family: "Brandon";
	src: url("../police/BrandonText-Light.otf") format("truetype");
}
  
@font-face {
	font-family: "Brandon Bold";
	src: url("../police/BrandonText-Medium.otf") format("truetype");
}
  
@font-face {
	font-family: "Brandon Italic";
	src: url("../police/BrandonText-LightItalic.otf") format("truetype");
}

html, body {
	font-family: 'Brandon', sans-serif;
	text-align: center;
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
	background-attachment: fixed;
	background-image: url("../image/background-entete.png"); 
	background-color: rgba(255, 255, 255, 0.5);
	background-position: bottom left, bottom right, top left, top center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
}

body, input, textarea {
	color: #000503;
	font-weight: 300;
}

h1{
	font-family: 'Brandon Bold', sans-serif;
	font-size: 4em;
	color: #04117B;
}

h2{
	font-family: 'Brandon Bold', sans-serif;
	font-size: 30px;
	color: #04117B;
}

p{
	font-size: large;
}

strong{
	font-family: 'Brandon Bold', sans-serif;
	color: #04117B;
}

i{
  font-family: 'Brandon Italic', sans-serif;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	color: #0923FB;
	text-decoration: none;
	border-bottom: dotted 1px;
  }
	a:hover {
	  	border-bottom-color: transparent;
	}
  
  
  /* Couleur du bouton onclick */
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	background: none;
	border: solid 1px;
	border-radius: 0;
	border-color: rgba(0,0,0,.4);
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 0.6em;
	font-weight: lighter;
	letter-spacing: 2px;
	padding: 0 0.75em;
	line-height: 3.75em;
	text-align: center;
	text-transform: uppercase;
	background-color:rgba(255,255,255,.2);
}
  
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
	background: rgba(188, 202, 206, 0.15);
	border-color: inherit;
}
  


.infobulle { 
	text-decoration:none; 
	position:relative; 
	cursor: pointer;
	text-align: left;
}

.infobulle strong { 
	color: #09c;
}

.infobulle span { 
    visibility:hidden;
    position: absolute;
    margin-top: 18px;
    margin-left: 100px;
    background:rgba(255,255,255,1);     
    padding:15px;     
    border-radius:10px;
    border: transparent;
    box-shadow:0 0 2px rgba(255,255,255,.5);
    color: rgba(0,0,0,.5);;
    transform:  scale(0) rotate(-12deg);
    opacity: 0;
    transition: 300ms;
}

.infobulle:hover span { 
    visibility: visible;
    transform:  scale(1) rotate(0deg);
    transition: all .25s;
    opacity: 1;
	width:330px; 
	min-height:16px;  
	margin-top:30px; 
	margin-left:-250px; 
	z-index :5;
}

  /* Section Titre */
#banner {
	cursor: default;
	padding: 3em 0;
	text-align: center;
}

#banner .inner {
	margin-left: 15px;
	margin-right: 15px;
}

#banner .inner p{
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	font-size: large;
}
  
  
/* Section Test de l'outil */
#outil .inner {
	color: #000503;
	background-color: rgba(255, 255, 255, 0.4);
}

#outil .inner fieldset{
	padding: 20px;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px dotted;
	background-color: rgba(255, 255, 255, 0.3);
}

#outil .inner legend{
	font-size: inherit;
}


#outil .inner a{
	color:#000503;
	text-decoration: none;
	transition: none;
	text-decoration: none;
	border-bottom: none;
}

a:hover{
	border-bottom-color: none;
}
  
  /* Section Information */
#foot {
	background-color: rgba(255, 255, 255, 0.2);
}





#page2 fieldset {
	padding: 20px;
	margin-left: 5px;
	margin-right: 5px;
	border: transparent;
	width: auto;
	height: 500px;
	background-color: rgba(255, 255, 255, 0.3);
}

#page2  a{
	color:#000503;
	text-decoration: none;
	transition: none;
	text-decoration: none;
	border-bottom: none;
}

a:hover{
	border-bottom-color: none;
}

#page2 .button:hover {
	background: rgba(188, 202, 206, 0.15);
	border-color: inherit;
}

#page2 .btnTelechargement {
	border-color: rgba(0,0,0,.4);;
}

.graph
{
	border-right: 1px black dotted;
	height: 600px;
	background-color: rgba(255,255,255,.5);
}

img.organigramme
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.reponse
{
	padding: 10px;
	text-align: center;
	height: 600px;
	background-color: rgba(255,255,255,.5);
}

.analyse
{
	text-align: left;
	padding: 10px;
	padding-top: 15px;
	height: 450px;
	overflow:scroll;
	background-color: rgba(255,255,255,.5);
}

.indicateurs
{
	padding: 10px;
	text-align: center;
	border-left: 1px rgba(0,0,0,.4) dotted;
	height: 600px;
	background-color: rgba(255,255,255,.5);
}


mark.je
{
	background-color:#2BF10A;
}

mark.nous
{
	background-color:#FF1F1F;
}

.inner-div {
	margin: 0 auto;
}

.boxIndicateur {
	width: 240px;
	padding: 10px;
	text-align: left;
	border: transparent;
	border-radius: 20px;
	background-color: rgba(255,255,255,.3);
}

#telecharger {
	overflow: auto;
}


#page2 .infobulle { 
	text-decoration:none; 
	position:relative; 
	cursor: pointer;
	text-align: left;
}

#page2 .infobulle strong { 
	color: #09c;
}

#page2 .infobulle span { 
    visibility:hidden;
    position: absolute;
    margin-top: 18px;
    margin-left: 300px;
    background:rgba(255,255,255,.9);     
    padding:15px;     
    border-radius:10px;
    border: transparent;
    box-shadow:0 0 2px rgba(255,255,255,.5);
    color: rgba(0,0,0,.5);;
    transform:  scale(0) rotate(-12deg);
    opacity: 0;
    transition: 300ms;
}

#page2 .infobulle:hover span { 
    visibility: visible;
    transform:  scale(1) rotate(0deg);
    transition: all .25s;
    opacity: 1;
	width:330px; 
	min-height:15px;  
	margin-top:10px; 
	margin-left:-380px; 
}


#document
{
	background-color: transparent;
}

#container
{
	height: 400px;
}