body
{
	display: flex;
	flex-wrap: wrap;
}


body, html
{
	line-height: 1.8;
	padding: 0;
	margin: 0;
}

.titre
{
	text-align: center;
}

.header
{
	flex-basis: 100%;
}

.nous
{
	font-weight: bold;
	background-color: red;
}

.je
{
	font-weight: bold;
	background-color: lightgreen;
}

.graph
{
	flex-basis: 24%;
	border: 2px black solid;
	height: 500px;
	margin-left: 8px;
}

.soustitre
{
	text-align: center;
}

img.graphjenous
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.analyse
{
	flex-basis: 48%;
	text-align: left;
	height: 500px;
	overflow:scroll;
	border: 2px black solid;
	margin: 0 2px 0 2px;
}

img.organigramme
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.indicateurs
{
	flex-basis: 24%;
	text-align: center;
	border: 2px black solid;
	height: 500px;
}

.choix
{
	margin-top: 25%;
	margin-bottom: 25%;
}



a.boutoncomparaison {
padding: 10px 30px; 
background: white; 
color: black; 
}
a.boutoncomparaison:hover {
background: grey; 
}



@media screen and (max-width: 750px)
{
	.content
	{
		flex-basis: 100%;
	}
	.sidebar
	{
		flex-basis: 100%;
		order: 1;
	}
	.footer
	{
		order: 2;
	}
}


